body
{
  color: rgb(14, 60, 21);
  background: #bdf2c8;
}

#camera , #result
{
  border: 2px dotted rgb(29, 121, 56);
  width: 350px;
  height: 300px; 
}

.heading
{
  font-size: 18px;
  letter-spacing: 3px;
}